<div class="container">
    <div class="row">
        <div class="col-md-12">
            <%= form_tag root_path, method: :get, class: "form-inline row" do %>
                <div class="input-group col-md-12">
                    <%= text_field_tag :query, params[:query], value: "", class: "form-control", placeholder: "Pesquisar Pinterest" %>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Pesquisar</button>
                        <%= link_to "Limpar Pesquisa", root_path, class:"btn btn-default" %>
                    </span>
                </div><!-- /input-group -->
            <% end %>            
        </div>

        <% if :query == nil %>
            <h3>Nenhum registro encontrado!</h3>
        <% else %>
            <% if @pinterests.present? %>
                <% @pinterests.each do |pinterest| %>     
                    <div class="col-md-3 col-sm-3">
                        <div class="thumbnail">
                            <div class="caption">
                                <p>
                                    <%= pinterest.description %>
                                </p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <h3>Nenhum registro encontrado!</h3>
            <% end %>
        <% end %>
    </div>
</div>